<%= render "shared/content_title", title: "User Profile: #{@user.username}" %>

<div class="well">
  <ul id="user-info">
    <li><strong>Username:</strong> <%=@user.username %></li>
    <li><strong>Time Zone:</strong></li>
    <li><strong>Two Factor Authentication:</strong></li>
  </ul>
</div>

<div id="user-activity-panel">
  <h5><%= @user.username %>'s Activity</h5>
    <ul class="nav nav-tabs">
      <li class="<%= "active" if params[:tab].nil? %>">
        <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
      </li>
      <li class="<%= "active" if params[:tab] == "comments" %>">
        <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: "comments") %>
      </li>
    </ul>

    <div id="user-activity-content">
      <% if params[:tab].nil? %>
        <% @user.posts.each do |post| %>
          <%= render "posts/post", post: post %>
        <% end %>
      <% elsif params[:tab] == "comments" %>
        <% @user.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment, show_post: true %>
        <% end %>
      <% end %>
    </div>
</div>
