<% if current_user != nil %>
  <% if logged_in? && current_user == @post.creator || current_user.admin? %>
    <p class="pull-right">
      [<%= link_to "edit this post", edit_post_path(@post) %>]
    </p>
  <% end %>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render "shared/content_title", title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render "shared/errors", obj: @comment %>
    <div class="form-group">
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body, rows: 3, class: "form-control" %>
    </div>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
<% end %>

<div id="comments-panel">
  <% if !@post.comments.empty? %>
    <h5>Comments:</h5>
  <% end %>

  <% @post.reload.comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</div>
